package alert

templ tpl(props *Props) {
	<tw-alert hide-duration="{props.HideDuration}">
		<div
			if props.ID != "" {
				id={ props.ID }
			}
			class={ "alert", templ.KV("alert-info", props.Type.IsInfo()), templ.KV("alert-success", props.Type.IsSuccess()), templ.KV("alert-warning", props.Type.IsWarning()), templ.KV("alert-error", props.Type.IsError()) }
		>
			<div>{ props.Message }</div>
			<button class="close">&times;</button>
		</div>
	</tw-alert>
}
